body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* main */
.section {
    height: 527px;
    display: flex;
}

.container {
width: 1140px;


display: flex;
margin: 0 auto;
justify-content: space-between;
align-items: center;

padding-top: 192px;
padding-bottom: 192px;

}



/* text */

.header_paragraph{
    color: #000;
    
    line-height: 24px;
    font-size: 15px;
    text-align: right;
    letter-spacing: 1px;
    font-weight: normal;

    margin: 0;
}

.img {
  
   
}

.header_1 {
    font-size: 38px;
    color: #020202;
    
    font-family: 'Raleway', sans-serif;
    text-align: right;
   
    text-transform: initial;
    font-weight: none;
    margin-bottom: 20px;
}

.header_main {
    font-size: 38px;
    font-family: 'Raleway', sans-serif;
    text-align: right;

    color: #020202;
    margin-bottom: 20px;

}

/* footer */
.footer {
display: flex;
align-items: center;

height: 62px;
background-color: #000;
}

.container_footer {
width: 1440px;
margin: 0 auto;

display: flex;
justify-content: center;
align-items: center;
}


.nav_footer {
    
}


.nav_link_footer {
    color: #9d9d9d;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;

    text-decoration: none;
    margin-left: 35px;
    text-transform: uppercase;
    transition: .7s;

}

.nav_link_footer:hover {
    
    color: #fff;
}

.section_2 {
height: 824px;

display: flex;
text-align: center;
margin: 110px 0;
}

.container_2 {

    width: 1140px;
    margin: 0 135px; 
    
}

.header_2 {
    font-size: 38px;
    color: #232323;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    margin: 0px 0 25px 0;
    text-align: center;
    text-transform: capitalize;
}

.bottom_2{
    font-size: 18px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom:  60px ;
}

.info {
    display: flex;

    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header_1_block {
  
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

}

.text_1_block {
    text-align: left;
}

.header_2_block {
  
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

}

.text_2_block {
    text-align: right;
}


